html {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: black;
}

* {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.top-header {
  display: flex;
  flex-direction: column;
  background: white;
}

.top-header ul {
  width: 100vw;
  position: fixed;
  top: 0;
  margin: 0;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  transform: translateY(-110vh);
  transition: transform 1s ease-in-out;
  background-color: #f6f1ef;
  border-bottom: 1px solid #3e3e3e;
}

.top-header li {
  width: 130px;
  margin: 30px 0 10px;
  font-family: cocogoose, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

#login-social {
  display: none;
  font-family: lato, serif;
  justify-content: flex-end;
  background-color: #3e3e3e;
  padding: 5px 0;
}

#login-social ul {
  display: flex;
  margin-right: 10vw;
}

#login-social li {
  margin-left: 2vw;
}

#login-social a {
  color: white;
}

.logo-top {
  display: none;
}

.logo-top img {
  max-width: 50vw;
  max-height: 40px;
}

.menu-btn {
  position: fixed;
  left: 15px;
  top: 15px;
  font-size: 36px;
}

#headline {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#headline * {
  margin: 5px auto;
  width: 90vw;
}

#headline div {
  color: #ec5242;
  font-family: lato, serif;
  font-weight: 600;
}

#headline h1 {
  color: #ec5242;
  font-family: cocogoose, sans-serif;
  font-size: 30px;
  font-weight: 800;
}

#headline .headline-text {
  border: 2px solid white;
  padding: 10px;
  background: rgba(247, 242, 242, 0.8);
  font-family: lato, serif;
}

#headline .headline-address {
  font-family: lato, serif;
  color: #3e3e3e;
}

#headline h2 {
  font-family: cocogoose, sans-serif;
  font-weight: 800;
  color: #666464;
}

#main-program {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272a31;
  background-image: url("../images/x-pattern.png");
  background-size: 30px;
}

#main-program h2 {
  position: relative;
  color: white;
  font-family: lato, serif;
  margin: 35px 0;
}

#main-program h2::after {
  position: absolute;
  content: " ";
  border-bottom: 3px solid #ec5242;
  padding: 0;
  background: white;
  bottom: -1rem;
  left: 35%;
  right: auto;
  width: 50px;
}

.program-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#main-program .program-cards div {
  width: 90vw;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 5px;
}

.program-cards div i {
  margin-right: 10px;
}

.program-cards div h3 {
  margin-right: 15px;
  color: #ec5242;
  font-family: lato, serif;
}

.program-cards div p {
  margin-right: 0;
  color: white;
  font-family: lato, serif;
}

.for-desktop {
  display: none;
}

.for-mobile {
  font-family: lato, serif;
  color: white;
  background-color: #ec5242;
  padding: 20px;
  margin: 25px;
}

#featured-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: lato, sans-serif;
}

#featured-items h2 {
  display: flex;
  flex-direction: column;
  position: relative;
  color: black;
  font-family: lato, serif;
  margin: 50px 0;
}

#featured-items h2::after {
  position: absolute;
  content: " ";
  border-bottom: 3px solid #ec5242;
  padding: 0;
  background: white;
  bottom: -1rem;
  left: 35%;
  right: auto;
  width: 50px;
}

.item-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px 0 15px 5px;
}

.item-card {
  display: flex;
  position: relative;
  margin: 15px 15px 25px;
}

.item-card img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.item-card::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 49px;
  height: 50px;
  background-image: url("../images/speaker-back.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: -1000;
}

.item-detail {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.item-card .item-detail h3 {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 5px;
}

.item-discription1 {
  position: relative;
  color: #ec5242;
  font-size: 12px;
  font-style: italic;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.item-discription1::after {
  position: absolute;
  content: " ";
  border-bottom: 3px solid rgb(49, 49, 49);
  padding: 0;
  bottom: -0.3rem;
  left: 0;
  width: 30px;
  opacity: 0.5;
}

.item-discription2 {
  color: #666464;
  font-size: 14px;
}

@media (min-width: 768px) {
  #login-social {
    display: flex;
  }

  #navigation {
    display: flex;
    justify-content: center;
  }

  .top-header {
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: space-between;
  }

  .logo-top {
    display: flex;
    margin: 10px 0;
  }

  #remove-menu {
    display: none;
  }

  .top-header ul {
    position: static;
    width: 40vw;
    padding: 0;
    margin: 15px 0;
    max-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transform: none;
    transition: none;
    border-bottom: none;
    background-color: white;
  }

  .top-header li {
    width: fit-content;
    margin: 0;
    padding: 0;
    font-family: lato, sans-serif;
    font-size: 16px;
    font-weight: 500;
  }

  .top-header li:nth-child(6) {
    border: 5px solid #ec5242;
    padding: 10px;
  }

  #headline {
    background-size: cover;
    padding-left: 13vw;
    height: 90vh;
  }

  #headline * {
    margin: 5px 0;
    width: 60vw;
    max-width: 800px;
    min-width: 650px;
  }

  #headline div {
    color: #ec5242;
    font-family: lato, serif;
    font-size: 42px;
    font-weight: 300;
  }

  #headline h1 {
    color: #ec5242;
    font-family: cocogoose, sans-serif;
    font-size: 68px;
    font-weight: 800;
    line-height: 68px;
    background: url("../images/redtable.png");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #headline .headline-text {
    border: 2px solid white;
    padding: 15px;
    background: rgba(247, 242, 242, 0.8);
    font-family: lato, serif;
    width: 40vw;
    line-height: 25px;
  }

  #headline .headline-address {
    font-family: lato, serif;
  }

  #headline h2 {
    font-family: cocogoose, sans-serif;
    font-weight: 800;
    color: #3e3e3e;
  }

  #main-program {
    padding: 0;
  }

  #main-program h2 {
    margin: 50px 0;
  }

  .program-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #main-program .program-cards div {
    width: 15vw;
    width: 150px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin: 5px;
    text-align: center;
  }

  .program-cards div i {
    margin: 0 0 10px;
  }

  .program-cards div h3 {
    margin: 0 0 10px;
    color: #ec5242;
    font-family: lato, serif;
  }

  .program-cards div p {
    margin-right: 0;
    color: white;
    font-family: lato, serif;
  }

  .for-desktop {
    display: block;
    color: white;
    text-decoration: underline;
    text-underline-offset: 5px;
    font-family: lato, sans-serif;
    margin: 50px 0;
  }

  .for-mobile {
    display: none;
  }

  .item-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    margin-bottom: 50px;
  }

  .item-card {
    display: flex;
    position: relative;
    margin: 15px 15px 25px;
  }

  .item-card img {
    width: 130px;
    height: 130px;
    margin-right: 20px;
  }

  .item-card::before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 69px;
    height: 70px;
    background-image: url("../images/speaker-back.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: -1000;
  }

  .item-detail {
    display: flex;
    flex-direction: column;
    max-width: 320px;
  }

  .item-card .item-detail h3 {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 5px;
  }

  .item-discription1 {
    position: relative;
    color: #ec5242;
    font-size: 16px;
    font-style: italic;
    padding-bottom: 5px;
    margin-bottom: 15px;
  }

  .item-discription1::after {
    position: absolute;
    content: " ";
    border-bottom: 3px solid rgb(49, 49, 49);
    padding: 0;
    bottom: -0.3rem;
    left: 0;
    width: 30px;
    opacity: 0.5;
  }

  .item-discription2 {
    color: #666464;
  }
}
